<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <style>

            body{
                margin: 0;
                background-color: #D2EBDA;
            }

            *{
                box-sizing: border-box;
                -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none;                 
            }

            .header{
                display: flex;
                height: 19.1vw;
            }
            .deck{
                width: 14.2857vw; /*   100/7   */
            }

            .columns{
                display: flex;
            }

            .column{
                width: 14.2857vw; /*   100/7   */
            }

            .card{
                width: 14.2857vw; /*   100/7   */
                padding-bottom: 19.1vw; /* 73px de ancho es a 98px de ancho lo mismo que 14.2857vw es a 19.1 */
                position: absolute;   
                background-repeat: no-repeat;             
            }

            .card.not-flipped{
                background-image: url(back.png);
                background-color: #db093a;
                background-position:0!important;
                background-size: cover;
            }

            .card.flipped{
                background-image: url(cards.png);
                background-size: 185.83vw; /* 73px de una carta es a 14.2857vw lo mismo que 950px es a 185.83vw */
            }

            .card span{
                display: none;
            }


            body.debug .card span{
                display: block;
                position: absolute;
                font-weight: bold;
                font-size: 36px;
                color: white;
                text-shadow: 3px 4px 7px black;
                left: 50%;                
            }

            .deck.not-shown,
            .deck.solution{
                border: 1px solid black;
            }

            .deck.not-shown{
                background-image: url(reload.svg);
                background-repeat: no-repeat;
                background-size: 11vw;
                background-position: center;                
            }


            .backdrop{
                position: fixed;
                background-color: rgba(0,0,0,.8);
                top:0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index:99;
            }       

            .message{
                width: 300px;
                height: 200px;
                background-color: white;
                border-radius: 6px;
                left: calc(50% - 150px);
                top: calc(50% - 100px);
                z-index:100;
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
            }         

            .message h1{
                margin: 0;
            }

            .message .button{
                padding: 10px 20px;
                border-radius: 6px;
                background-color: #D2EBDA;
                color: black;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 20px;
                box-shadow: 0px 0px 4px #333;
                cursor: pointer;
            }

            .reload{
                position: fixed;
                bottom: 0;
                left: 0;
                font-size: 18px;
                cursor: pointer;
            }

            .reload:hover{
                font-weight: bold;
            }


        </style>

        <main ng-controller="solitarioCtrl">
            <div class="header">
                <div class="deck not-shown" ng-click="reloadDeck()">
                    <div class="card" 
                            ng-click="show(card);$event.stopPropagation();"
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                            ng-repeat="card in deck" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>

                <div class="deck shown">
                    <div class="card" 
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                            ng-repeat="card in shown" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>      
                <div class="deck"></div>

                <div class="deck solution">
                    <div class="card" 
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped, bounce: card.bounce}" 
                            ng-repeat="card in solution[0]" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div> 

                <div class="deck solution">
                    <div class="card" 
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped, bounce: card.bounce}" 
                            ng-repeat="card in solution[1]" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div> 

                <div class="deck solution">
                    <div class="card" 
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped, bounce: card.bounce}" 
                            ng-repeat="card in solution[2]" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div> 

                <div class="deck solution">
                    <div class="card" 
                            ng-class="{'not-flipped': !card.flipped, flipped: card.flipped, bounce: card.bounce}" 
                            ng-repeat="card in solution[3]" 
                            ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                            hm-panstart="onPanStart($event, card)"
                            hm-panend="onPanEnd($event, card)"
                            hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>                                                 

                
            </div>      

            <div class="columns">
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[0]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[1]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[2]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[3]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[4]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[5]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>
                <div class="column">
                    <div class="card" 
                        ng-class="{'not-flipped': !card.flipped, flipped: card.flipped}" 
                        ng-repeat="card in columns[6]" 
                        ng-style="{'background-position': (card.num * -14.2857) + 'vw ' + (card.type * -19.1) + 'vw', 'top': card.top + 'vw', 'left': card.left + 'vw', 'z-index': card.zindex}"
                        hm-panstart="onPanStart($event, card)"
                        hm-panend="onPanEnd($event, card)"
                        hm-pan="onPan($event, card)"><span>{{card.num}}</span></div>
                </div>                                                                                                               
            </div>

            <div you-won ng-if="youWon"></div>

            <a class="reload" ng-click="init()">Restart</a>

        </main>



        <script src="libs/angular.min.js"></script>
        <script src="libs/hammer.min.js"></script>
        <script src="libs/angular.hammer.min.js"></script>

        <script>

            angular.module('myApp', ['hmTouchEvents'])

            .directive('youWon', function(){
                return {
                    scope: false,
                    template: '<div class="backdrop"></div>\
                                <div class="message">\
                                    <h1>You Won!</h1>\
                                    <a class="button" ng-click="init()">Play again</a>\
                                </div>'
                }
            })

            .controller('solitarioCtrl', function($scope, $window, $timeout){

                function init(){
                    
                    
                    $scope.deck = [];
                    $scope.shown = [];
                    $scope.columns = [[],[],[],[],[],[],[]];
                    $scope.solution = [[], [], [], []];

                    $scope.youWon = false;

                    //inicializar baraja
                    for(var i = 0; i < 4; i++){
                        for(var j = 0; j < 13; j++){
                            $scope.deck.push({
                                num: j,
                                type: i,
                                flipped: false,
                                row: null,
                                col: null,
                                deck: null,
                            })
                        }
                    }
                    shuffle($scope.deck)               

                    //repartir columnas
                    var random_num;
                    var random_card;
                    for(var i = 0; i < 7; i++){

                        for(var j = 0; j <= i ; j++){
                            random_num = Math.floor(Math.random() * $scope.deck.length)
                            random_card = $scope.deck[random_num];

                            random_card.col = i
                            random_card.row = j
                            random_card.top = 6.25 * (j+1) + (19.1)
                            random_card.left = 14.2857 * i
                            random_card.zindex = random_card.row;   
                            random_card.deck = $scope.columns[i]

                            if(j == i){
                                random_card.flipped = true;
                            } 
                            
                            $scope.columns[i].push(random_card)
                            $scope.deck.splice(random_num, 1);
                        }


                    }


                    $scope.show = function(card){
                        $scope.shown.push({
                            col: null,
                            row: null,
                            top: 0,
                            left: 14.2857,
                            zindex: 1,
                            flipped: true,
                            num: card.num,
                            type: card.type,
                            deck: $scope.shown
                        })
                        $scope.deck.pop()
                    }

                    $scope.reloadDeck = function(){
                        for(var i = $scope.shown.length-1; i >= 0 ; i--){
                            $scope.deck.push({
                                col: null,
                                row: null,
                                top: 0,
                                left: 0,
                                zindex: 1,
                                flipped: false,
                                num: $scope.shown[i].num,
                                type: $scope.shown[i].type,
                                deck: $scope.deck
                            })
                        }

                        $scope.shown = [];
                    }

                    var offsetX, offsetY;

                    $scope.onPanStart = function(event, card){

                        if(card.col !== null){
                            for(var i = card.row; i < card.deck.length; i++){
                                panstart(card.deck[i])
                            }
                        }else{
                            panstart(card)
                        }


                        
                        offsetX = event.center.x - angular.element(event.target).prop('offsetLeft');
                        offsetY = event.center.y - angular.element(event.target).prop('offsetTop');

                        function panstart(c){
                            c.prevleft = c.left;
                            c.prevtop = c.top
                            c.prevzindex = c.zindex;
                            c.zindex = 9999;
                        }
                        
                    }

                    $scope.onPan = function(event, card){
                        if(card.flipped){

                            if(card.col !== null){
                                for(var i = card.row; i < card.deck.length; i++){
                                    pan(card.deck[i], 6.25 * (i - card.row))
                                }
                            }else{
                                pan(card, 0)
                            }
                        }

                        function pan(c, offset){
                            c.left = (event.center.x - offsetX) / $window.innerWidth * 100;
                            c.top =  ((event.center.y - offsetY) / $window.innerWidth * 100) + offset;
                        }

                    }

                    $scope.onPanEnd = function(event, card){
                        var previous_col;
                        var previous_row;
                        var previous_length;

                        var destination_col = Math.round(card.left / 14.2857);

                        if(isValidMoveToSolution(card, destination_col)){
                            moveToSolution(card, destination_col);
                            return;
                        }

                        if(isValidMoveToColumn(card, destination_col)){
                            moveToColumn(card, destination_col)
                            return;
                        }

                        resetMovement(card);

                        function isValidMoveToSolution(card, destination_col){
                            var destination_solution_col = destination_col -3;
                            var valid = false;
                            if(card.top < 5 && destination_solution_col >= 0){
                                valid =
                                    (
                                        $scope.solution[destination_solution_col].length == 0 &&
                                        card.num == 0
                                    ) ||
                                    (
                                        $scope.solution[destination_solution_col].length > 0 &&
                                        $scope.solution[destination_solution_col][$scope.solution[destination_solution_col].length-1].num == card.num-1 &&
                                        $scope.solution[destination_solution_col][$scope.solution[destination_solution_col].length-1].type == card.type
                                    )
                            }

                            return valid;
                        }

                        function moveToSolution(card, destination_col){
                            var destination_solution_col = destination_col -3;

                            $scope.solution[destination_solution_col].push({
                                    col: null,
                                    row: null,
                                    deck: $scope.solution[destination_solution_col],
                                    top: 0,
                                    left: 14.2857 * destination_col,
                                    zindex: 1,
                                    flipped: true,
                                    num: card.num,
                                    type: card.type
                                })

                            var col = card.col;

                            card.deck.pop(); 

                            if(col){
                                flipNextCardInCol(col)
                            }
                            

                        }

                        function isValidMoveToColumn(card, destination_col){
                            
                            if(destination_col < 0 || destination_col > 6){
                                return false;
                            }

                            if(card.col != null && card.col == destination_col){
                                return false;
                            }

                            if($scope.columns[destination_col].length == 0){
                                return card.num == 12;
                            }

                            var destination_card = $scope.columns[destination_col][$scope.columns[destination_col].length-1];

                            var valid = card.num+1 == destination_card.num && intercaladas(card, destination_card)

                            function intercaladas(c, c1){
                                return ((c.type == 0 || c.type == 1) && (c1.type == 2 || c1.type== 3)) ||
                                        (c1.type == 0 || c1.type == 1) && (c.type == 2 || c.type== 3)
                            }

                            return valid;

                        }      

                        function resetMovement(card){
                            if(card.col !== null){
                                for(var i = card.row; i < card.deck.length; i++){
                                    resetpan(card.deck[i])
                                }
                            }else{
                                resetpan(card)
                            }                        
                        }              

                        function resetpan(c){
                            c.left = c.prevleft;
                            c.top = c.prevtop;
                            c.zindex = c.prevzindex;
                        }

                        function moveToColumn(card, destination_col){
                            if(card.col !== null){
                                for(var i = card.row; i < card.deck.length; i++){
                                    endValidMovement(card.deck[i])
                                }

                                previous_col = card.col;
                                previous_row = card.row;   
                                previous_length = card.deck.length;                      

                                for(var i = previous_row; i < previous_length; i++){
                                    card.deck.pop();     
                                }

                                flipNextCardInCol(previous_col)


                            }else{
                                endValidMovement(card);

                                card.deck.pop()
                            }

                            function endValidMovement(c){
                                $scope.columns[destination_col].push({
                                    col: destination_col,
                                    row: $scope.columns[destination_col].length,
                                    top: ($scope.columns[destination_col].length + 1) *6.25 + 19.1,
                                    left: 14.2857 * destination_col,
                                    zindex: $scope.columns[destination_col].length,
                                    flipped: true,
                                    num: c.num,
                                    type: c.type,
                                    deck: $scope.columns[destination_col]
                                })       
                            }                        
                        }
                    }

                    function flipNextCardInCol(col){
                        if($scope.columns[col].length > 0){
                            $scope.columns[col][$scope.columns[col].length-1].flipped = true;
                        }
                        
                    }

                    function shuffle(a) {
                        var j, x, i;
                        for (i = a.length; i; i--) {
                            j = Math.floor(Math.random() * i);
                            x = a[i - 1];
                            a[i - 1] = a[j];
                            a[j] = x;
                        }
                    }
                    
                    $scope.$watch('solution[0].length', checkWin)
                    $scope.$watch('solution[1].length', checkWin)
                    $scope.$watch('solution[2].length', checkWin)
                    $scope.$watch('solution[3].length', checkWin)

                    function checkWin(){
                        
                        if($scope.solution[0].length == 13 &&
                            $scope.solution[1].length == 13 &&
                            $scope.solution[2].length == 13 &&
                            $scope.solution[3].length == 13 ){

                                $scope.youWon = true;

                        }

                    }
                }

                $scope.init = init;

                init();
            })

        </script>

    </body>
</html>